body {
    background-color: aliceblue;
}

.container{
    margin: auto;
    border: solid 1px black;
    padding: 10px;
}

.container h2{
    margin: 10px;
    text-align: center;
    border-bottom:solid 1px black;
    padding-bottom: 10px;
}

.row{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px silver;
    padding: 10px;
}

.row .question{
    width: 30%;
}

.row .point{
    width: 30%;
}

.row .answer{
    width: 20%;
}

.title div{
    font-weight: bold;
}