body{
    margin: 0;
    padding: 0;
}

header, main, footer{
    width: 80%;
    border: solid 1px gray;
    margin: auto;
    margin-bottom: 15px;
    box-sizing: border-box;
}

header{
    height: 120px;
    background-color: antiquewhite;
    padding: 10px;
}

header span{
    font-size: 2em;
    font-weight: bold;
}

footer{
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: bold;
}

main{
    display: flex;
}

nav{
    border-right: solid 1px gray;
    width: 20%;
    background-color: aqua;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    display: block;
    border-bottom: solid 1px gray;
    padding: 7px;
}

nav ul li a:hover{
    background-color: aquamarine;
}

.products{
    width: 80%;
    background-color: blanchedalmond;
    padding: 20px;
}

.sign{
    float: right;
}

.sign span{
    font-size: 1.2em;
    display: block;
    margin: 10px;
}

.signin{
    padding: 20px;
    display: flex;
    margin: 30px auto;
    background-color: aqua;
    border-radius: 20px;
}

.signin div{
    margin-bottom: 10px;
}

.signin label{
    display: block;
    margin-bottom: 5px;
    font-size: 1.2em;
}

.signin button {
    margin-top: 10px;
    font-size: 1.2em;
}

.signin input{
    font-size: 1.2em;
}
