nav{
    width: 70%;
    border: solid 1px gray;
    margin: auto;
    padding: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

.content {
    width: 70%;
    border: solid 1px gray;
    margin: auto;
    padding: 20px;
    min-height: 300px;
    margin-top: 10px;
}